*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*COLORS*/
    --CBG: hsl(0, 0%, 20%);
    --PASS: hsl(0, 0%, 100%);
    --TEXTS: hsl(100, 1%, 51%);
    --PLACEHOLDER: hsl(202, 3%, 52%);
    --LIGHT-GREEN : hsl(120, 57%, 82%);
    --YELLOW: rgb(254, 230, 19);
}

body{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    
}

h1{
    display: flex;
    align-items: center;
    color: var(--TEXTS);
    margin: 1rem;
    font-size: 20px;
}

.container{
    background-color: var(--CBG);
    color: var(--PASS);
    padding: 1rem;
    max-width: 500px;
    width: 100%;
}

.password-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background: var(--CBG) ;
    max-width: 500px;
    width: 100%;
}

.password-text{
    color: var(--PASS);
    font-size: 16px;
}

.copy-button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-icon{
    display: block;
    width: 21px;
    height: 24px;
}

